profiles {
  slurm {
    process.executor = 'slurm'
    process.cpus     = 8
    process.memory   = '64 GB'
    process.time     = '24h'
    // process.queue  = 'normal'   // uncomment if your cluster uses partitions/queues
  }
}

singularity.enabled    = true
singularity.autoMounts = true

// Work and temp directories (you used tmp fixes in your manual run)
workDir = "${baseDir}/work"

process {
  env.APPTAINER_TMPDIR  = "${baseDir}/tmp_singularity"
  env.SINGULARITY_TMPDIR= "${baseDir}/tmp_singularity"
  env.TMPDIR            = "${baseDir}/tmp_singularity"
}
